<header>
    <nav>
        <div> <%= link_to "Профиль", "/user/1" %></div>
        <div> <%= link_to "Лента", "/" %></div>
        <div> <%= link_to "Вход", "/auth/new" %></div>
    </nav>
</header>
<main>
   
</main>
