<body>
    <header>
        <img src="">
        <nav>
            <a href="">Профиль</a>
            <a href="">Лента</a>
            <a href="">Вход</a>
        </nav>
    </header>
    <main>
        <form method="GET">
            <label for="item"><i>Поиск</i></label>
            <input type="text" name="item" value="Поиск по фильтру или нику пользователя" required>
            <input type="submit" value="Поиск">
        </form>
        <div class="ribbon">
            <div class="card">
                <img src="">
                <h1>Header</h1>
                <p>Description</p>
                <h3>Комментарии</h3>
                <div class="comments">
                    <h4>Ник пользователя</h4>
                    <p>Comment</p>
                </div>
            </div>
    </div>
    </main>
</body>
