<form method="POST" style="display:flex; flex-direction:column;width:50%;margin:25%;">
    <div style="display:flex; flex-direction:row;">
        <div style="display:flex; flex-direction:column; margin:2em; justify-content:space-between; height:30px;" >
            <label for="login">Логин</label>
            <label for="pass">Пароль</label>
        </div>
        <div style="display:flex; flex-direction:column;justify-content:space-around;height:30px; margin:2em;">
            <input type="login" name="login" value="Введите логин" required>
            <input type="password" name="pass" required>
        </div>
    </div>
    <input type="submit" value="Login" style="width:50%;">
</form>